#**************************************************************************
#   Copyright (c) 2012, The 6Th Column Project, LLC.                      *
#   Written by: The codewrx.org development team .et al                   *
#                                                                         *
#   All rights reserved. This file is part of the:                        *
#   The 6th Column Project, LLC / CodeWRX Software Stack                  *
#                                                                         *
#**************************************************************************
#                                                                         *
#   For details, see http://6thcolumn.org/                                *
#   Please also read this link                                            *
#    http://6thcolumn.org/LICENSE                                         *
#                                                                         *
#**************************************************************************

TAGS
.ant-targets-build.xml
*~
*.cache
*.DS_Store
*.a
*.o
*.class
*.pyc
*.egg
*.vagrant
*#*
*.md5
*.tmp
semantic.cache*
generated/
/build
/dist
/docs-generated
/lib/fetched
/.cobertura.ser
/eclipse
/backup
/web/index.html
/.project
*.swp
